html, body {
	padding: 0;
	margin: 0;
	overflow: hidden;
	
	background-image: url("images/Splash.png"); /* The image used */
    background-color: #212121; /* Used if the image is unavailable */
    height: 1280px; /* You must set a specified height */
    background-position: top; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain;
	/*background: #212121;*/
	/*color: white;*/

html, body, canvas {
	touch-action: none;
	touch-action-delay: none;
}

#notSupportedWrap {
	margin: 2em auto 1em auto;
	width: 75%;
	max-width: 45em;
	border: 2px solid #aaa;
	border-radius: 1em;
	padding: 2em;
	background-color: #f0f0f0;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	color: black;
}

#notSupportedTitle {
	font-size: 1.8em;
}

.notSupportedMessage {
	font-size: 1.2em;
}

.notSupportedMessage em {
	color: #888;
}


@font-face {
	font-family: 'dimboregular';
	src: url('fonts/dimboregular.woff2') format('woff2');
}

@font-face {
	font-family: 'dimbo regular';
	src: url('fonts/dimbo regular.ttf') format('truetype');
}

